name: Pylint

on: [push, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        apt install fonts-noto-cjk
        python -m pip install --upgrade pip
        pip install pylint
        pip install matplotlib
#    - name: Analysing the code with pylint
#      run: |
#        pylint $(git ls-files '*.py')
    - if: matrix.python-version == '3.10'
      name: Run
      run: |
        python eff_calc_2.py
    - if: matrix.python-version == '3.10'
      name: Upload image
      uses: actions/upload-artifact@v2
      with:
        name: "product"
        path: /*.png

