name: Pylint

on: [push, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Install dependencies
      run: |
        sudo apt install fonts-noto-cjk
        python -m pip install --upgrade pip
        pip install pylint
        pip install matplotlib
#    - name: Analysing the code with pylint
#      run: |
#        pylint $(git ls-files '*.py')
    - name: Run
      run: |
        python eff_calc_2.py
    - name: Upload image
      uses: actions/upload-artifact@v2
      with:
        name: product all
        path: ${{ github.workspace }}/*.png

